<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
        <title>Hello Spring Boot!</title>
        
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<div id="addFeed" style="margin-left: auto; margin-right: auto;width: 500px;">
    <form th:action="@{/addFeed}">
        <div>
            <div style="font-size: 16px;color: #494949;font-weight: bold;font-family: sans-serif;">
                Pick a site or blog you want to keep up with (specify https protocol when need):
            </div>
            <input type="submit" value="Add" style="margin-top: 20px;"/>
        </div>
        <div>
            <input id="newFeedValue" name="newFeedValue" autocorrect="off" autocapitalize="off" type="text"
                   placeholder="search by title, URL or #topic" value="" style="padding: 15px;width: 500px; font-size: 16px;margin-top: 20px;"/>
        </div>
    </form>
</div>

<div th:if="${not #lists.isEmpty(feedMessages)}" style="width: 927px; margin-left: auto; margin-right: auto;">
    <div id="feedlyHeader" style="margin-bottom: 50px;"><h1 th:text="${categoryName}">Category name</h1></div>
    <div id="feedlyPart">
        <div id="serction_entries" style="display: block">
            <div th:each="feedMessage : ${feedMessages}" style="margin-top: 20px;">
                <table>
                    <tr>
                        <td style="vertical-align: top;"><img th:src="${feedMessage.image}" src="../static/images/feedly-logo-black.png" /></td>
                        <td style="vertical-align: top;">
                            <div><a th:href="${feedMessage.link}" th:text="${feedMessage.title}">Title</a></div>
                            <div><span th:text="${feedMessage.description}">Description</span></div>
                            <div><span style="font-size: 10px;" th:text="${feedMessage.publishDate}">Publish date</span></div>
                        </td>
                    </tr>
                </table>
                <!--<div id="feedImage"><img th:src="${feedMessage.image}" src="../static/images/feedly-logo-black.png"/></div>
                <div>
                    <a th:href="${feedMessage.link}" th:text="${feedMessage.title}">Title</a>
                    <div>
                        <span th:text="${feedMessage.description}" th:remove="tag">Description</span>
                        <span style="font-size: 8px;" th:text="${feedMessage.publishDate}">Publish date</span>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>
</body>
</html>